PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=
DB_TIMEZONE=+07:00
DB_LOGGING=false
TYPEORM_SYNCHRONIZE=true
CORS_ORIGINS=http://localhost:4200,http://localhost:8080,https://frontend-pos.up.railway.app,https://pos-mini.up.railway.app,https://pos-mini-cafe.up.railway.app
JWT_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
ADMIN_EMAIL=admin@pos.local
ADMIN_PASSWORD=admin123456
ADMIN_NAME=POS Admin
